:root {
  --turq: #1abc9c;
  --turq-faint: rgba(26, 188, 156, 0.8);
}

.App {
  background-color: #353535; /* Almost black background */
  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 40px 40px; /* Adjust this for the spacing of the dots */
  height: 100vh; /* Ensure it covers the entire viewport height */
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 50px 50px 50px;
  gap: 20px;
}

.vizRed {
  border: solid red 2px;
}

.tileShadow {
  box-shadow: 0 4px 12px rgba(25, 25, 25, 0.6) !important;
}

#smallBreak {
  margin-top: 20px;
  width: 50%;
  opacity: 0.5;
}

/* Style the attribution control */
.leaflet-control-attribution {
  background-color: #222 !important; /* Dark background */
  color: #fff !important; /* White text */
  font-size: 12px; /* Adjust font size if needed */
  padding: 5px 10px; /* Add some padding */
  border-radius: 4px; /* Optional: rounded corners */
}

.leaflet-control-attribution a {
  color: var(--turq) !important; /* Optional: Blue links for better contrast */
  text-decoration: none; /* Remove underline from links */
}
